body{
    background-color: rgb(12, 83, 83);
}
.container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin-left: 33%;
    margin-top: 5%;
}
input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(8, 129, 129);
    outline: none;
    font-size: 15px;
}
button{
    height: 35px;
    width: 60px;
    background-color: rgb(4, 29, 29);
    cursor: pointer;
    color: white;
    border-radius: 2px;
    font-size: 15px;
    border: none;
    outline: none;
}
.text ul{
    position: relative;
    background-color: rgb(5, 58, 58);
    padding: 9px;
    color: white;
    font-size: 15px;
    text-align: left;
}
.text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
    
}
